#content {
  margin: 40px;
}

label {
  display: block;
  width: 130px;
  margin-bottom: 5px;
}

input, output {
  margin-bottom: 10px;
  outline: 1px black solid;
  border-radius: 5px;
  padding: 5px;
}

button {
  margin-top: 10px;
  display: block;
}